<div class="abs-center wd-xl">
    <!-- START panel-->
    <div class="p">
        <img src="storage/avatars/defaultuser.png" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle center-block" />
    </div>
    <div class="panel widget b0">
        <div class="panel-body">
            <p class="text-center">Подтверждение регистрации прошло успешно</p>
            <div class="clearfix">
                <div class="text-center">
                    <button type="button" ng-href="/" class="btn btn-sm btn-primary">На главную</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END panel-->
    <div class="p-lg text-center">
        <span>&copy;</span>
        <span ng-bind="app.year"></span>
        <span>-</span>
        <span>Avelango</span>
    </div>
</div>

