<div class="abs-center wd-xl">
    <!-- START panel-->
    <div class="p">
        <img src="storage/avatars/defaultuser.png" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle center-block" />
    </div>
    <div class="panel widget b0">
        <div class="panel-body">
            <p class="text-center">Пользователь удален из сервиса AVELANGO</p>
            <p class="text-center">Нам очень жаль, что Вы покинули нас :(</p>
        </div>
    </div>
    <!-- END panel-->
    <div class="p-lg text-center">
        <span>&copy;</span>
        <span ng-bind="app.year"></span>
        <span>-</span>
        <span>Avelango</span>
    </div>
</div>