/Avelango.Autotest/bin/Debug/*.dll
/Avelango.Autotest/bin/Debug/*.xml
/Avelango.Autotest/bin/Debug
/Avelango.Autotest/obj/Debug
/Avelango.Resources/bin/Debug
/Avelango.Resources/bin/Release
/Avelango.Web/bin
/packages/Antlr.3.5.0.2/*.nupkg
/packages/Castle.Core.3.3.3/*.txt
/packages/Castle.Core.3.3.3/lib/net35/*.dll
/Avelango.DbOrm/bin/Debug
/Avelango.DbOrm/bin/Release
/Avelango.DbOrm/obj/Debug
/Avelango.DbOrm/obj/Release
/Avelango.DbOrm/Scripts/*.sql
/Avelango.Handlers/bin/Debug
/Avelango.Handlers/bin/Release
/Avelango.Handlers/obj/Debug
/Avelango.Handlers/obj/Release
/Avelango.Localisation/bin/Debug
/Avelango.Localisation/bin/Release
/Avelango.Localisation/obj/Debug
/Avelango.Localisation/obj/Release
/Avelango.Logger/bin/Debug
/Avelango.Logger/obj/Debug
/Avelango.Models/bin/Debug
/Avelango.Models/bin/Release
/Avelango.Models/obj/Debug
/Avelango.NunitTests/bin/Debug
/Avelango.NunitTests/obj/Debug
/Avelango.NunitTests/obj/Release
/Avelango.Models/obj/Release
/Avelango.Resources/obj/Debug
/Avelango.Resources/obj/Release
/Avelango.Social/bin/Debug
/Avelango.Social/obj/Debug
/Avelango.Web/Logs
/packages/Castle.Core.3.3.3/*.nupkg
/packages/Castle.Core.3.3.3/lib/net35
