<div class="text-center" style="margin-top: 30px">
    <h4>Как это работает</h4>
    <h5>Решение любой проблемы за семь простых шагов</h5>
    <br/>
    <div class="panel panel-dark panel-flat">
        <img style="width: 600px; height: 600px" src="~/Images/bg/HowItWorks.png"/>
    </div>
</div>