@{
   // if (!ViewBag.Refresh) { Layout = null; }
}

<div class="unwrap">
    <div class="bg-cover">
        <div class="container container-md pv-lg">
            <div class="text-center mb-lg pb-lg">
                <div class="h1 text-bold">Правила сайта</div>
                <p>Здесь вы найдете описание того, что делать нужно, что не нужно, и за что можно попасть в "BAN"</p>
            </div>
        </div>
    </div>
</div>
<div class="container container-md">
    <p class="mv-lg pv-lg text-muted text-center">
        <small>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</small>
    </p>
    <div class="row">
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a href="" class="link-unstyled text-primary">
                        <em class="fa fa-5x fa-television mb-lg"></em>
                        <br />
                        <span class="h4">Регистрация</span>
                        <br />
                        <small class="text-muted">посмотреть &rarr;</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a href="" class="link-unstyled text-info">
                        <em class="fa fa-5x fa-object-group mb-lg"></em>
                        <br />
                        <span class="h4">Размещение заказа</span>
                        <br />
                        <small class="text-muted">посмотреть &rarr;</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a href="" class="link-unstyled text-purple">
                        <em class="fa fa-5x fa-cubes mb-lg"></em>
                        <br />
                        <span class="h4">Принятие заказа</span>
                        <br />
                        <small class="text-muted">посмотреть &rarr;</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a href="" class="link-unstyled text-warning">
                        <em class="fa fa-5x fa-diamond mb-lg"></em>
                        <br />
                        <span class="h4">Сдача заказа</span>
                        <br />
                        <small class="text-muted">посмотреть &rarr;</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a href="" class="link-unstyled text-danger">
                        <em class="fa fa-5x fa-building-o mb-lg"></em>
                        <br />
                        <span class="h4">Переписка</span>
                        <br />
                        <small class="text-muted">посмотреть &rarr;</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a href="" class="link-unstyled text-success">
                        <em class="fa fa-5x fa-calendar-check-o mb-lg"></em>
                        <br/>
                        <span class="h4">Оплата</span>
                        <br/>
                        <small class="text-muted">посмотреть &rarr;</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a href="" class="link-unstyled text-dark">
                        <em class="fa fa-5x fa-recycle mb-lg"></em>
                        <br />
                        <span class="h4">Отказ от заказа</span>
                        <br />
                        <small class="text-muted">посмотреть &rarr;</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a href="" class="link-unstyled text-dark">
                        <em class="fa fa-5x fa-street-view mb-lg"></em>
                        <br />
                        <span class="h4">Отказ от исполнения</span>
                        <br />
                        <small class="text-muted">посмотреть &rarr;</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-body text-center">
                    <a href="" class="link-unstyled text-dark">
                        <em class="fa fa-5x fa-street-view mb-lg"></em>
                        <br />
                        <span class="h4">Споры</span>
                        <br />
                        <small class="text-muted">посмотреть &rarr;</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

