
<section class="profile-section profile-section-mp">
    <div class="user-profile" ng-controller="MyPageAnothersEyesController as mpaec">
        <div class="main-description">
            <div class="ava-block">
                <div class="ava-wrap">
                    <img src="Storage/Avatars/defaultuser.png" alt="Avatar" />
                </div>
                <div class="indicator on">
                    <span>Online</span>
                </div>
                <div class="btn-block">
                    <div class="btn-wrap">
                        <a href="#">Награды</a>
                    </div>
                    <div class="btn-wrap">
                        <a href="#">Экзамены</a>
                    </div>
                </div>
                <button class="hire btn btn-success btn-lg">Предложить задание</button>
            </div>
            <div class="text-block">
                <h3>Рюрик Лана Иоановна</h3>

                <h3>25 лет</h3>

                <h3>г. Львов, <span>Украина</span></h3>

                <p class="date">на сайте 2 мес. с 11.04.2016 г.</p>

                <div class="customer-rating">
                    <p>Рейтинг Заказчика</p>
                    <a href="#" class="reviews">Отзывы</a>
                </div>
                <div class="contractor-rating">
                    <p>Рейтинг Исполнителя</p>
                    <a href="#" class="reviews">Отзывы</a>
                </div>
                <h4>Инженер-электрик</h4>

                <p>
                    Cras ultricies ligula sed magna dictum porta. Donec rutrum congue leo eget malesuada.
                    Donec rutrum congue leo eget malesuada. Vestibulum ac diam sit amet quam
                    vehicula
                </p>

                <p>
                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit
                    amet
                    quam vehicula elementum sed sit amet dui.
                </p>

                <p>
                    Quisque velit nisi, pretium ut lacinia in, elementum id enim. Sed porttitor lectus
                    nibh.
                </p>

                <p>
                    Cras ultricies ligula sed magna dictum porta. Donec rutrum congue leo eget malesuada.
                    Donec rutrum congue leo eget malesuada. Vestibulum ac diam sit amet quam
                    vehicula
                </p>

                <p>
                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit
                    amet
                    quam vehicula elementum sed sit amet dui.
                </p>

                <p>
                    Quisque velit nisi, pretium ut lacinia in, elementum id enim. Sed porttitor lectus
                    nibh.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h4>Группы</h4>
            </div>
            <div class="col-md-10">
                <ul class="groups">
                    <li><a href="#">Уборка</a></li>
                    <li><a href="#">События и мероприятия</a></li>
                    <li><a href="#">Красота и здоровье</a></li>
                    <li><a href="#">Курьерские услуги</a></li>
                    <li><a href="#">Стройка и ремонт </a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <h4>Портфолио</h4>
            </div>
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="img-block">
                            <img src="Storage/Avatars/defaultuser.png" alt="Portfolio image" />
                        </div>
                        Курьерские услуги
                        <paneltool tool-collapse="tool-collapse" class="pull-right">
                            <a href="#" class="ng-scope">
                                <em class="fa fa-plus ng-no-animation ng-hide"></em>
                                <em class="fa fa-minus ng-no-animation"></em>
                            </a>
                        </paneltool>
                    </div>
                    <div class="panel-wrapper in collapse">
                        <div class="panel-body">
                            <p>Curabitur aliquet quam id dui posuere blandit.</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="img-block">
                            <img src="Storage/Avatars/defaultuser.png" alt="Portfolio image" />
                        </div>
                        Стройка и ремонт
                        <paneltool tool-collapse="tool-collapse" class="pull-right">
                            <a href="#" class="ng-scope">
                                <em class="fa fa-plus ng-no-animation ng-hide"></em>
                                <em class="fa fa-minus ng-no-animation"></em>
                            </a>
                        </paneltool>
                    </div>
                    <div class="panel-wrapper in collapse">
                        <div class="panel-body">
                            <p>
                                Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
                                Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum
                                ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                                Curae;
                            </p>

                            <div class="portfolio-images">
                                <div class="images-block">
                                    <img src="Storage/Avatars/defaultuser.png"
                                         alt="Portfolio image">
                                </div>
                                <div class="images-block">
                                    <img src="Storage/Avatars/defaultuser.png"
                                         alt="Portfolio image">
                                </div>
                                <div class="images-block">
                                    <img src="Storage/Avatars/defaultuser.png"
                                         alt="Portfolio image">
                                </div>
                                <div class="images-block">
                                    <img src="Storage/Avatars/defaultuser.png"
                                         alt="Portfolio image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="img-block">
                            <img src="Storage/Avatars/defaultuser.png" alt="Portfolio image" />
                        </div>
                        Грузоперевозки
                        <paneltool tool-collapse="tool-collapse" class="pull-right">
                            <a href="#" class="ng-scope">
                                <em class="fa fa-plus ng-no-animation ng-hide"></em>
                                <em class="fa fa-minus ng-no-animation"></em>
                            </a>
                        </paneltool>
                    </div>
                    <div class="panel-wrapper in collapse">
                        <div class="panel-body">
                            <p>
                                Nulla porttitor accumsan tincidunt. Proin eget tortor risus. Quisque
                                velit nisi, pretium ut lacinia in, elementum id enim. Praesent sapien
                                massa, convallis a pellentesque nec, egestas non nisi. Pellentesque in
                                ipsum id orci porta dapibus. Pellentesque in ipsum id orci porta
                                dapibus. Praesent sapien massa, convallis a pellentesque nec, egestas
                                non nisi. Sed porttitor lectus nibh. Nulla quis lorem ut libero
                                malesuada feugiat. Curabitur non nulla sit amet nisl tempus convallis
                                quis ac lectus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
