<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="AvelangoDbEntities" connectionString="metadata=res://*/AvelangoDbEdm.csdl|res://*/AvelangoDbEdm.ssdl|res://*/AvelangoDbEdm.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HUCKFIN-CPU;initial catalog=AvelangoDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="AvelangoDbEntities" connectionString="metadata=res://*/AvelangoDbEdm.csdl|res://*/AvelangoDbEdm.ssdl|res://*/AvelangoDbEdm.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=93.190.46.34,33301;initial catalog=uh419050_db;user id=uh419050_user;password=MhJt8z7J1S;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="AvelangoDbEntities" connectionString="metadata=res://*/AvelangoDbEdm.csdl|res://*/AvelangoDbEdm.ssdl|res://*/AvelangoDbEdm.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=95.47.112.3;initial catalog=1gb_avelangotest;user id=1gb_eregservice;password=f22c4b35534;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
