@{
    ViewBag.Title = "Error";
}

<div class="content">
    <!-- row -->
    <div class="row">				
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">				
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center error-box">
                        <h1 class="error-text-2 bounceInDown animated"> Error 403 <span class="particle particle--c"></span><span class="particle particle--a"></span><span class="particle particle--b"></span></h1>
                        <h2 class="font-xl"><strong><i class="fa fa-fw fa-warning fa-lg text-warning"></i> Page <u>Not</u> Found</strong></h2>
                        <br />
                        <p class="lead">
                            Sorry the page you requested could not be found. 
                            Our developers team tries to do all that you would not have trouble again.
                        </p>				
                    </div>				
                </div>				
            </div>				
        </div>
    </div>
</div>
