<div class="content">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center error-box">
                        <br />
                        <h2 class="error-text-2 bounceInDown animated"> Sending test message</h2>
                        <br />
                        <h3 class="font-xl"><strong><i class="fa fa-fw fa-warning fa-lg text-warning"></i> Message lang: <u>@ViewBag.Lang</u></strong></h3>
                        <h3 class="font-xl"><strong><i class="fa fa-fw fa-warning fa-lg text-warning"></i> Message type: <u>@ViewBag.Type</u></strong></h3>
                        <h3 class="font-xl"><strong><i class="fa fa-fw fa-warning fa-lg text-warning"></i> Message recipient: <u>@ViewBag.To</u></strong></h3>
                        <br />
                        <h2 class="error-text-2 bounceInDown animated"> Message has been sended!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

